.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 10px;
    overflow-y: auto;
    height: 100%;
}

.sub-main {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-as-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.item {
    max-width: 33.33%;
    box-sizing: border-box;
}

.container-container {
    width: 100%;
}