.home_content {
    height: 83vh;
    width: 96%;
    margin: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: blur(5px);
    background-image: url("./../../../../public/big_background.svg");
}