<p-toast life="10000" />
<ng-container *ngIf="isLoading()">
    <div class="centered">
        <div class="sub-container">
            <div class="card card-1">
                <div class="border-round border-1 surface-border p-4 surface-card">
                    <div class="flex mb-3">
                        <div style="gap: 5px; display: flex; flex-direction: column;">
                            <p-skeleton width="10rem" styleClass="mb-2" />
                            <p-skeleton height="1rem" />
                            <p-skeleton height="1rem" />
                        </div>
                    </div>
                    <p-skeleton width="100%" height="350px" />
                    <div class="flex justify-content-between mt-3" style="display: flex;">
                        <p-skeleton width="4rem" height="3rem" />
                        <p-skeleton width="4rem" height="3rem" />
                    </div>
                </div>
            </div>
            <div class="card card-2">
                <div class="border-round border-1 surface-border p-4 surface-card">
                    <div class="flex mb-3">
                        <div>
                            <p-skeleton width="10rem" styleClass="mb-2" />
                            <p-skeleton width="5rem" styleClass="mb-2" />
                            <p-skeleton height=".5rem" />
                        </div>
                    </div>
                    <p-skeleton width="100%" height="220px" />
                    <div class="flex justify-content-between mt-3">
                        <p-skeleton width="4rem" height="2rem" />
                        <p-skeleton width="4rem" height="2rem" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!isLoading()">
    <div class="centered">
        <div class="sub-container-2">
            <!---------------------------------------------Iterable for starts here --------------------------------------------->
            @for (item of newsList(); track $index) {
                <div class="card-1-content">
                    <form [formGroup]="updateNewForm">
                        <p-panel>
                            <ng-template pTemplate="header">
    
                                @if(!this.updateActive()[$index]) {
                                    <h4>{{item.title | titlecase }}</h4>
                                } @else {
                                    <div class="form-floating mb-3" style="width: 100%;">
                                        <input type="text" class="form-control" id="floatingInput" placeholder="New title" [value]="item.title" formControlName="title">
                                        <label for="floatingInput">Title</label>
                                    </div>                                  
                                }
    
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <div class="flex flex-wrap align-items-center gap-3 d-flex justify-content-between">
                                    @if(this.updateActive()[$index]) {
                                        <p-button label="Update" severity="primary" (onClick)="onUpdate(item, $index)" size="small" type="button" [disabled]="this.updateNewForm.invalid"/>
                                        <p-button label="Cancel" severity="danger" (onClick)="cancelUpdate($index)" size="small" type="button"/>
                                    } @else {
                                        <span class="p-text-secondary">Publicated on {{item.publicationDate | date }}</span>
                                        <div>
                                            <button class="p-panel-header-icon p-link mr-2 " (click)="menu.toggle($event)" type="button">
                                                <span class="pi pi-cog"></span>
                                            </button>
                                            <p-menu
                                                #menu
                                                id="config_menu"
                                                [model]="items" 
                                                appendTo="body" 
                                                [popup]="true"
                                                (onShow)="onClickHandler(item, $index)"
                                            />
                                        </div>
                                    } 
                                </div>
                            </ng-template>
                            <div class="content-body">
                                @if(!this.updateActive()[$index]) {
                                    <p class="m-0 text-class">{{item.text}}</p>
                                    <img [src]="item.photo" width="400px" height="400px" style="object-fit: contain; margin: 10px;">
                                } @else {
                                    <div class="form-floating" style="width: 100%; height: 150px;">
                                        <textarea 
                                            class="form-control"
                                            id="floatingTextarea2"
                                            style="height: 100%; width: 100%;"
                                            [value]="item.text" 
                                            formControlName="text"
                                        >
                                        </textarea>
                                        <label for="floatingTextarea2">Description</label>
                                    </div>
                                    <img [src]="imagePreview()" width="400px" height="400px" style="object-fit: contain; margin: 10px;">
                                    <button
                                        type="button"
                                        mat-raised-button 
                                        (click)="fileInput.click()"
                                    >
                                    <img src="upload_icon.svg"> Choose a photo</button>
                                    <input type="file" hidden (change)="onFileSelected($event)" #fileInput id="file" accept="image/*" >
                                }
                            </div>
                        </p-panel>
                    </form>
                </div>
            }

            <!---------------------------------------------Iterable for ends here ----------------------------------------------->
        </div>
    </div>

</ng-container>
<ng-container *ngIf="!isLoading() && returnedError()">
    <div class="centered">
        <h1>Please try again later</h1>
    </div>
</ng-container>