.general-content {
    position: relative;
    overflow: hidden;
    display: flex;
    margin: 20px;
    height: 82vh;
    width: 97%;
}

.sub-content-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-style-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    width: 50%;
    height: auto;
    align-items: center;
}